In [1]:
import pandas as pd

tags_lda = {
	"tags": [{
			"id": "tag1",
			"topic_0": 10,
			"topic_1": 15,
			"topic_2": 18
		},
		{
			"id": "tag2",
			"topic_0": 4,
			"topic_1": 5,
			"topic_2": 8
		},
		{
			"id": "tag3",
			"topic_0": 20,
			"topic_1": 25,
			"topic_2": 28
		}
	]
}

pd.DataFrame([tags_lda])

                                                tags
0  [{'id': 'tag1', 'topic_0': 10, 'topic_1': 15, ...

In [15]:
tags_topic_values = [[0,0,0,0],[0,0,0,0]]
print(tags_topic_values)
print(type(tags_topic_values ))
print(tags_topic_values[0][2])
print(type(tags_topic_values[0][2] ))
tags_topic_values[0][2] = tags_topic_values[0][2] + 5
tags_topic_values[1][3] = tags_topic_values[1][3] + 2
tags_name = ['tag1','tag2']
tags_topic_values

[[0, 0, 0, 0], [0, 0, 0, 0]]
<class 'list'>
0
<class 'int'>

[[0, 0, 5, 0], [0, 0, 0, 2]]

In [36]:
unit_matrix = []
for i in range(4):
    unit_matrix.append(0)
print(unit_matrix)
#tags_topic_values = []
#unit_matrix = [0,0,0,0]
tags_topic_values = [[] for x in range(2)]
unit_matrix = [0] * 4

for i in range(2):
    #tags_topic_values[i]=[0,0,0,0]
    tags_topic_values[i]=unit_matrix
#for i in range(2):
#    tags_topic_values.append(unit_matrix)
#tags_topic_values = [[0,0,0,0],[0,0,0,0]]


print(tags_topic_values)
print(type(tags_topic_values ))
print(tags_topic_values[0][2])
print(type(tags_topic_values[0][2] ))

tags_topic_values[0][2] = tags_topic_values[0][2] + 5
tags_topic_values[1][3] = tags_topic_values[1][3] + 2
tags_name = ['tag1','tag2']
tags_topic_values

[0, 0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0]]
<class 'list'>
0
<class 'int'>

[[0, 0, 5, 2], [0, 0, 5, 2]]

In [4]:
df = pd.DataFrame(tags_topic_values, index=tags_name)

In [41]:
df['topic_3']

tag1    5
tag2    0
Name: topic_3, dtype: int64

In [6]:
df.columns = ['topic_0', 'topic_2','topic_3','topic_4']
df

      topic_0  topic_2  topic_3  topic_4
tag1        0        0        5        0
tag2        0        0        0        2